<nav class="navbar bg-dark">
  <div class="container">
    <a class="navbar-brand">Logo</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"> <i class="material-icons">search</i></button>
    </form>
    <a href="#"><i class="material-icons" style="color:#ffffff;">person</i></a>
    <a href="#"><i class="material-icons" style="color:#ff0000;">favorite</i></a>
    <a href="#"><i class="material-icons" style="color:#276aae;" matBadge="0" matBadgeColor="warn" matBadgePosition="after">shopping_cart</i></a>
  </div>
</nav>
<app-nav-site></app-nav-site>
