<mat-list>
  <mat-list-item>Sub Categoria</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<form>
  <mat-form-field appearance="outline">
    <mat-label>Título</mat-label>
    <textarea name="categoriaDescricao" id="categoriaDescricao" [(ngModel)]="subcategoriaForm.titulo" matInput placeholder="Título..."></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Categoria</mat-label>
    <mat-select name="produtoCategoria" [(ngModel)]="subcategoriaForm.categoria_id" placeholder="Categoria...">
      <mat-option *ngFor="let categorias of categoria" value="{{ categorias.id }}">{{ categorias.nome }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div style="padding-top: 8px; float: right;" mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" (click)="gotoList()">Cancelar</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="updateSubcategoria()">Salvar</button>
  </div>
</form>
