<mat-list>
  <mat-list-item>Banner</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<form>
  <mat-form-field appearance="outline">
    <mat-label>Imagem</mat-label>
    <input [(ngModel)]="bannerForm.image" name="produtoImage" matInput placeholder="Imagem...">
    <div class="image">
      <img src="{{ bannerForm.image }}" alt="">
    </div>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Descrição</mat-label>
    <textarea name="produtoDescricao" id="produtoDescricao" [(ngModel)]="bannerForm.descricao" matInput placeholder="Descrição..."></textarea>
  </mat-form-field>
  <div style="padding-top: 8px; float: right;" mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" (click)="gotoList()">Cancelar</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="createBanner()">Salvar</button>
  </div>
</form>
