<footer>
  <div class="container">
    <div class="politica">
      <h1>Trocas e devoluções</h1>
      <p>Nossa política de trocas dos produtos visa proporcionar ao cliente total segurança em relação aos produtos adquiridos em nossa loja. Os produtos gratuitos não são passíveis de trocas em nenhuma circunstancia.Todos nossos produtos possuem garantia contra defeitos de fabricação. Também realizamos trocas de produtos que vieram diferente daquele encomendado pelo cliente. Caso você receba um produto nosso com algum defeito de fabricação ou diferente do que você encomendou siga os seguintes passos para realizar a troca</p>
    </div>
    <div class="ajuda">
      <h1>Ajuda</h1>
      <p>Dúvidas frequentes</p>
      <p>Atendimento</p>
      <p>Mapa do site</p>
      <p>Glossário da moda</p>
      <p>Termos de uso</p>
    </div>
    <div class="contato">
      <h1>Contato</h1>
      <a href=""><i class="fa-solid fa-phone"></i>(24) 3342-8224</a>
      <br>
      <br>
      <a href=""><i class="fa-solid fa-envelope"></i>Eric.hausman.m@gmail.com</a>
      <br>
      <br>
      <a href=""><i class="fa-brands fa-instagram"></i>@Hausmaneric</a>
      <br>
      <br>
      <a href=""><i class="fa-brands fa-whatsapp"></i>(24) 98873-9500</a>
      <br>
      <br>
      <a href=""><i class="fa-brands fa-facebook"></i>Eric Hausman</a>
      <br>
    </div>
  </div>
</footer>
