<div id="carouselExampleFade" class="carousel container slide carousel-fade" style="width: 100%;" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img src="https://i.pinimg.com/564x/27/9e/30/279e30c362a585f753c1aaf1773fb1d4.jpg" style="margin-top: -16px;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/564x/f9/b2/60/f9b2604d69f67f8d4482167bf9dd1b0d.jpg" style="margin-top: -16px;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/564x/f9/b2/60/f9b2604d69f67f8d4482167bf9dd1b0d.jpg" style="margin-top: -16px;" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
