<mat-list>
  <mat-list-item>Banners</mat-list-item>
  <mat-divider></mat-divider>
  <button style="float: right; margin-top: 15px;" mat-raised-button color="accent" [routerLink]="['/bannerCreate']"> <i class="material-icons">add</i> Adicionar Banner</button>
</mat-list>

<div class="container" style="margin-top: 80px;">
  <div class="mat-elevation-z8">
    <table class="table" style="background-color: #fff;">
      <thead style="border-bottom: 1px solid black; bottom: 15px;">
        <td style="font-weight: bold; text-align: center; padding: 15px 0; width: 60px;">Imagem</td>
        <td style="font-weight: bold; text-align: center; padding: 15px 0;">Descrição</td>
        <td></td>
        <td></td>
      </thead>
      <tbody>
        <tr *ngFor="let banner of allBanner">
          <th style="font-weight: normal;text-align: center; padding-top: 10px;"> <img style="width: 70px; height: 70px;" src="{{ banner.image }}" alt=""></th>
          <th style="font-weight: normal;text-align: center; padding-top: 35px;">{{ banner.descricao }}</th>
          <th style="font-weight: normal;text-align: center; padding-top: 20px;">
            <button mat-icon-button [routerLink]="['/bannerUpdate',banner.id]" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </th>
          <th style="font-weight: normal;text-align: center; padding-top: 20px;">
            <button mat-icon-button color="warn" (click)="onDelete(banner.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </div>


