<mat-list>
  <mat-list-item>Categoria</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<form>
  <mat-form-field appearance="outline">
    <mat-label>Título</mat-label>
    <textarea name="categoriaDescricao" id="categoriaDescricao" [(ngModel)]="categoriaForm.nome" matInput placeholder="Título..."></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Imagem</mat-label>
    <input [(ngModel)]="categoriaForm.image" name="loginImage" matInput placeholder="Imagem...">
    <div class="image_1">
      <img src="{{ categoriaForm.image }}" alt="">
    </div>
  </mat-form-field>

  <div style="padding-top: 8px; float: right;" mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" (click)="gotoList()">Cancelar</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="createCategoria()">Salvar</button>
  </div>
</form>
